.icon-left{
    position:absolute;
    left:10px;
    top:10px;
}

.icon-right{
    position:absolute;
    bottom:10px;
    right:10px;
}

.seasons-display{
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}

.seasons-display.winter i{ color:blue; }

.seasons-display.summer i{ color:red; }

.seasons-display.winter{ background-color:aliceblue; }

.seasons-display.summer{ background-color:yellow; }
